Importando as bibliotecas necess√°rias:

In [1]:
import numpy as np
import pandas as pd

Importando o dataframe dados_funcionario.csv

In [179]:
from google.colab import files 
uploaded = files.upload()

Saving dados_funcionario.csv to dados_funcionario.csv

In [180]:
df = pd.read_csv('dados_funcionario.csv')

Verificar o dataframe:

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             10 non-null     object
 1   idade            10 non-null     int64
 2   peso             10 non-null     int64
 3   altura           10 non-null     int64
 4   data_nascimento  10 non-null     object
 5   cidade           10 non-null     object
 6   mat              10 non-null     int64
 7   sexo             10 non-null     object
dtypes: int64(4), object(4)
memory usage: 768.0+ bytes

In [182]:
df.head(10)

      nome  idade  peso  altura data_nascimento    cidade  mat sexo
0      ana     23    56     156      20-05-2018  salvador  123    f
1    pedro     25    86     166      20-06-2017  salvador  124    m
2    paulo     28    76     176      20-07-2018  camacari  223    m
3    david     21   107     167      20-08-2016     lauro  529    m
4    pedro     23    92     162      20-09-2018  salvador  628    m
5    maria     33    80     180      20-12-2017     lauro  723    f
6    julia     33    85     175      20-11-2016  camacari  821    f
7    carol     35    86     156      20-04-2019     lauro  927    f
8  ricardo     33    78     158      20-05-2018  salvador  835    m
9    joana     23    47     157      20-02-2017  salvador  553    f

In [183]:
df.columns

Index(['nome', 'idade', 'peso', 'altura', 'data_nascimento', 'cidade', 'mat',
       'sexo'],
      dtype='object')

#Manipular o dataframe:
#calculando o IMC e adicionando a um novo dataframe.

In [184]:
imc=(df['peso']/df['altura']**2)*10000
df_IMC=df
df_IMC['imc']=imc
display (df_IMC)

      nome  idade  peso  altura data_nascimento    cidade  mat sexo        imc
0      ana     23    56     156      20-05-2018  salvador  123    f  23.011177
1    pedro     25    86     166      20-06-2017  salvador  124    m  31.209174
2    paulo     28    76     176      20-07-2018  camacari  223    m  24.535124
3    david     21   107     167      20-08-2016     lauro  529    m  38.366381
4    pedro     23    92     162      20-09-2018  salvador  628    m  35.055632
5    maria     33    80     180      20-12-2017     lauro  723    f  24.691358
6    julia     33    85     175      20-11-2016  camacari  821    f  27.755102
7    carol     35    86     156      20-04-2019     lauro  927    f  35.338593
8  ricardo     33    78     158      20-05-2018  salvador  835    m  31.244993
9    joana     23    47     157      20-02-2017  salvador  553    f  19.067711

In [185]:
lista_peso=list(df['peso'])
lista_altura=list(df['altura'])
lista_IMC = list(map(lambda peso,altura: (peso/altura**2)*10000, lista_peso,lista_altura))
df2_IMC=df
df2_IMC['imc']=(lista_IMC)
display (df2_IMC)

      nome  idade  peso  altura data_nascimento    cidade  mat sexo        imc
0      ana     23    56     156      20-05-2018  salvador  123    f  23.011177
1    pedro     25    86     166      20-06-2017  salvador  124    m  31.209174
2    paulo     28    76     176      20-07-2018  camacari  223    m  24.535124
3    david     21   107     167      20-08-2016     lauro  529    m  38.366381
4    pedro     23    92     162      20-09-2018  salvador  628    m  35.055632
5    maria     33    80     180      20-12-2017     lauro  723    f  24.691358
6    julia     33    85     175      20-11-2016  camacari  821    f  27.755102
7    carol     35    86     156      20-04-2019     lauro  927    f  35.338593
8  ricardo     33    78     158      20-05-2018  salvador  835    m  31.244993
9    joana     23    47     157      20-02-2017  salvador  553    f  19.067711

#ordenando os elementos de uma coluna de maneira ascendente.

In [186]:
df_ord_peso=df.sort_values(by='peso',ascending=True)
print(df_ord_peso)

      nome  idade  peso  altura data_nascimento    cidade  mat sexo        imc
9    joana     23    47     157      20-02-2017  salvador  553    f  19.067711
0      ana     23    56     156      20-05-2018  salvador  123    f  23.011177
2    paulo     28    76     176      20-07-2018  camacari  223    m  24.535124
8  ricardo     33    78     158      20-05-2018  salvador  835    m  31.244993
5    maria     33    80     180      20-12-2017     lauro  723    f  24.691358
6    julia     33    85     175      20-11-2016  camacari  821    f  27.755102
1    pedro     25    86     166      20-06-2017  salvador  124    m  31.209174
7    carol     35    86     156      20-04-2019     lauro  927    f  35.338593
4    pedro     23    92     162      20-09-2018  salvador  628    m  35.055632
3    david     21   107     167      20-08-2016     lauro  529    m  38.366381

In [187]:
df_ord_IMC=df.sort_values(by='imc',ascending=True)
print(df_ord_IMC)

      nome  idade  peso  altura data_nascimento    cidade  mat sexo        imc
9    joana     23    47     157      20-02-2017  salvador  553    f  19.067711
0      ana     23    56     156      20-05-2018  salvador  123    f  23.011177
2    paulo     28    76     176      20-07-2018  camacari  223    m  24.535124
5    maria     33    80     180      20-12-2017     lauro  723    f  24.691358
6    julia     33    85     175      20-11-2016  camacari  821    f  27.755102
1    pedro     25    86     166      20-06-2017  salvador  124    m  31.209174
8  ricardo     33    78     158      20-05-2018  salvador  835    m  31.244993
4    pedro     23    92     162      20-09-2018  salvador  628    m  35.055632
7    carol     35    86     156      20-04-2019     lauro  927    f  35.338593
3    david     21   107     167      20-08-2016     lauro  529    m  38.366381

In [188]:
df_ord_IMC_top3=df.sort_values(by='imc',ascending=True)[0:3]
print(df_ord_IMC_top3)

    nome  idade  peso  altura data_nascimento    cidade  mat sexo        imc
9  joana     23    47     157      20-02-2017  salvador  553    f  19.067711
0    ana     23    56     156      20-05-2018  salvador  123    f  23.011177
2  paulo     28    76     176      20-07-2018  camacari  223    m  24.535124

Converter a vari√°vel categ√≥rica sexo em num√©rica

In [189]:
df['sexo'] = df['sexo'].map({'m': 0, 'f': 1})
print(df)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
0      ana     23    56     156      20-05-2018  salvador  123     1
1    pedro     25    86     166      20-06-2017  salvador  124     0
2    paulo     28    76     176      20-07-2018  camacari  223     0
3    david     21   107     167      20-08-2016     lauro  529     0
4    pedro     23    92     162      20-09-2018  salvador  628     0
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0
9    joana     23    47     157      20-02-2017  salvador  553     1

         imc
0  23.011177
1  31.209174
2  24.535124
3  38.366381
4  35.055632
5  24.691358
6  27.755102
7  35.338593
8  31.244993
9  19.067711

# Aplicando um filtro num valor de uma coluna:

In [190]:
df2 = df[ (df['idade'] >= 30) ]
print(df2)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0

         imc
5  24.691358
6  27.755102
7  35.338593
8  31.244993

In [191]:
print(df)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
0      ana     23    56     156      20-05-2018  salvador  123     1
1    pedro     25    86     166      20-06-2017  salvador  124     0
2    paulo     28    76     176      20-07-2018  camacari  223     0
3    david     21   107     167      20-08-2016     lauro  529     0
4    pedro     23    92     162      20-09-2018  salvador  628     0
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0
9    joana     23    47     157      20-02-2017  salvador  553     1

         imc
0  23.011177
1  31.209174
2  24.535124
3  38.366381
4  35.055632
5  24.691358
6  27.755102
7  35.338593
8  31.244993
9  19.067711

#Usando condicional no dataframe.

In [192]:
df3 = df[ (df['idade'] >= 30) & (df['peso'] >= 60)]
print(df3)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0

         imc
5  24.691358
6  27.755102
7  35.338593
8  31.244993

In [193]:
df4 = df[ (df['idade'] >= 33) | (df['cidade'] == 'camacari')]
print(df4)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
2    paulo     28    76     176      20-07-2018  camacari  223     0
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0

         imc
2  24.535124
5  24.691358
6  27.755102
7  35.338593
8  31.244993

#value_counts

In [194]:
df['peso'].value_counts()

86     2
56     1
76     1
107    1
92     1
80     1
85     1
78     1
47     1
Name: peso, dtype: int64

In [195]:
df['peso'].value_counts(normalize=True)

86     0.2
56     0.1
76     0.1
107    0.1
92     0.1
80     0.1
85     0.1
78     0.1
47     0.1
Name: peso, dtype: float64

In [197]:
print(df)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
0      ana     23    56     156      20-05-2018  salvador  123     1
1    pedro     25    86     166      20-06-2017  salvador  124     0
2    paulo     28    76     176      20-07-2018  camacari  223     0
3    david     21   107     167      20-08-2016     lauro  529     0
4    pedro     23    92     162      20-09-2018  salvador  628     0
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0
9    joana     23    47     157      20-02-2017  salvador  553     1

         imc
0  23.011177
1  31.209174
2  24.535124
3  38.366381
4  35.055632
5  24.691358
6  27.755102
7  35.338593
8  31.244993
9  19.067711

# trabalhando com a data.

In [198]:
from datetime import date, time, datetime
df['data_padrao']=pd.to_datetime(df['data_nascimento'])

In [199]:
df['ano']=pd.to_datetime(df['data_nascimento']).dt.year

In [200]:
df.head()

,nome,idade,peso,altura,data_nascimento,cidade,mat,sexo,imc,data_padrao,ano
0,ana,23,56,156,20-05-2018,salvador,123,1,23.011177,2018-05-20,2018
1,pedro,25,86,166,20-06-2017,salvador,124,0,31.209174,2017-06-20,2017
2,paulo,28,76,176,20-07-2018,camacari,223,0,24.535124,2018-07-20,2018
3,david,21,107,167,20-08-2016,lauro,529,0,38.366381,2016-08-20,2016
4,pedro,23,92,162,20-09-2018,salvador,628,0,35.055632,2018-09-20,2018

#Groupby

In [201]:
df_gb1=df.groupby('cidade').count().reset_index()
df_gb1

,cidade,nome,idade,peso,altura,data_nascimento,mat,sexo,imc,data_padrao,ano
0,camacari,2,2,2,2,2,2,2,2,2,2
1,lauro,3,3,3,3,3,3,3,3,3,3
2,salvador,5,5,5,5,5,5,5,5,5,5

In [202]:
df_gb2=df.groupby('cidade').agg({'peso':'mean'}).reset_index()
df_gb2

     cidade  peso
0  camacari  80.5
1     lauro  91.0
2  salvador  71.8

In [204]:
df_gb3=df.groupby('cidade').agg({'peso':'mean','altura':'mean'}).reset_index()
df_gb3

     cidade  peso      altura
0  camacari  80.5  175.500000
1     lauro  91.0  167.666667
2  salvador  71.8  159.800000

#agrega√ß√£o

In [205]:
df_agg_01=df['peso'].agg(sum)
print(df_agg_01)

793

In [207]:
df_agg_02=df[['peso','altura']].agg(max)
print(df_agg_02)

peso      107
altura    180
dtype: int64

#Criando um status para a coluna imc

In [210]:
df['status']=['voc√™ est√° ok' if 20<=imc<=25 else 'precisa emagrecer' for imc in df['imc']]
print(df)

      nome  idade  peso  altura data_nascimento    cidade  mat  sexo  \
0      ana     23    56     156      20-05-2018  salvador  123     1
1    pedro     25    86     166      20-06-2017  salvador  124     0
2    paulo     28    76     176      20-07-2018  camacari  223     0
3    david     21   107     167      20-08-2016     lauro  529     0
4    pedro     23    92     162      20-09-2018  salvador  628     0
5    maria     33    80     180      20-12-2017     lauro  723     1
6    julia     33    85     175      20-11-2016  camacari  821     1
7    carol     35    86     156      20-04-2019     lauro  927     1
8  ricardo     33    78     158      20-05-2018  salvador  835     0
9    joana     23    47     157      20-02-2017  salvador  553     1

         imc data_padrao   ano             status
0  23.011177  2018-05-20  2018       voc√™ est√° ok
1  31.209174  2017-06-20  2017  precisa emagrecer
2  24.535124  2018-07-20  2018       voc√™ est√° ok
3  38.366381  2016-08-20  2016  precisa emagrecer
4  35.055632  2018-09-20  2018  precisa emagrecer
5  24.691358  2017-12-20  2017       voc√™ est√° ok
6  27.755102  2016-11-20  2016  precisa emagrecer
7  35.338593  2019-04-20  2019  precisa emagrecer
8  31.244993  2018-05-20  2018  precisa emagrecer
9  19.067711  2017-02-20  2017  precisa emagrecer

In [212]:
df5=df.loc[df['status']=='voc√™ est√° ok']
print(df5)

    nome  idade  peso  altura data_nascimento    cidade  mat  sexo        imc  \
0    ana     23    56     156      20-05-2018  salvador  123     1  23.011177
2  paulo     28    76     176      20-07-2018  camacari  223     0  24.535124
5  maria     33    80     180      20-12-2017     lauro  723     1  24.691358

  data_padrao   ano        status
0  2018-05-20  2018  voc√™ est√° ok
2  2018-07-20  2018  voc√™ est√° ok
5  2017-12-20  2017  voc√™ est√° ok

In [213]:
#renomeando uma coluna
df=df.rename(columns={'sexo':'genero'})
print(df)

      nome  idade  peso  altura data_nascimento    cidade  mat  genero  \
0      ana     23    56     156      20-05-2018  salvador  123       1
1    pedro     25    86     166      20-06-2017  salvador  124       0
2    paulo     28    76     176      20-07-2018  camacari  223       0
3    david     21   107     167      20-08-2016     lauro  529       0
4    pedro     23    92     162      20-09-2018  salvador  628       0
5    maria     33    80     180      20-12-2017     lauro  723       1
6    julia     33    85     175      20-11-2016  camacari  821       1
7    carol     35    86     156      20-04-2019     lauro  927       1
8  ricardo     33    78     158      20-05-2018  salvador  835       0
9    joana     23    47     157      20-02-2017  salvador  553       1

         imc data_padrao   ano             status
0  23.011177  2018-05-20  2018       voc√™ est√° ok
1  31.209174  2017-06-20  2017  precisa emagrecer
2  24.535124  2018-07-20  2018       voc√™ est√° ok
3  38.366381  2016-08-20  2016  precisa emagrecer
4  35.055632  2018-09-20  2018  precisa emagrecer
5  24.691358  2017-12-20  2017       voc√™ est√° ok
6  27.755102  2016-11-20  2016  precisa emagrecer
7  35.338593  2019-04-20  2019  precisa emagrecer
8  31.244993  2018-05-20  2018  precisa emagrecer
9  19.067711  2017-02-20  2017  precisa emagrecer